@import 'mixins';
@import 'vars';
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:900,400|Raleway:400,300,800);
body {
	margin: 0;
	color:$main;
}

h1, h2, h3 {
	font-family: 'Playfair Display', serif;
	font-weight:900px;
	font-size:40px;
	text-shadow: 2px 2px $off;
}
h1 {
	font-size: 60px;
	text-align:center;
}
h2 {
	font-size: 40px;
	margin-bottom:$mobileMargin;
	@include notMobile {
		margin-bottom:$margin;
	}
}
h3 {
	font-size:30px;
}
p {
	font-family: "Raleway", sans-serif;
	font-weight: 300;
	font-size:22px;
	margin: 0 0 $mobileMargin;
	@include notMobile {
		margin: 0 0 $margin;
	}
}
a {
	font-family: 'Playfair Display', serif;
	font-weight:400;
	font-size:22px;
	cursor: pointer;
	text-decoration: underline;
	color:$main;
	text-shadow: 1px 1px $off;
}

img {
	display:block;
	width:100%;
	margin: $mobileMarginPlus 0px $mobileMarginPlus;	
	-webkit-box-shadow: 2px 2px 2px #000;
	-moz-box-shadow:    2px 2px 2px #000;
	box-shadow:         2px 2px 2px #000;
	@include notMobile {
		width:60%;
		float:left;
		margin: 0px $margin $margin 0px;
		&.right {
			float:right;
			margin: 0px 0px $margin $margin;
		}
	}
}
.page {
	transition-property: left;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index: 30;
	color:$main;
	position: fixed;
	&.page--transition-out {
        @include prefix(transition, (left 2s ease, transform 2s ease, top 2s ease));
		left: 30%;
		top:150%;
    	-webkit-transform: rotate(-20deg);
    	transform: rotate(-20deg);
	}
	&__holder {
		position:relative;
		overflow-y:auto;
		overflow-x: hidden;
		height:100%;
		@include prefix(transform-style, (preserve-3d));
	}
	&__content {
		position:relative;
		padding:0 $mobileMargin 150px;
		@include notMobile {
			padding: 0 $marginPlus 200px;
		}
	}
}
.linky {
	display:inline-block;
	background:$off;
	position:relative;
	border: 1px solid $main;
	overflow:hidden;
    margin: 10px 0px;
	&:nth-child(2) {
		margin: 10px 20px;
	}
	&:hover {
		opacity:0.6;
	}
	&__depression {
		position:absolute;
    	box-sizing: border-box;
		top:0;
		left:0;
        @include prefix(transition, (top 0.1s ease, left 0.1s ease));
    	padding: 10px 20px;
		width: 100%;
		-webkit-box-shadow: inset 1px 1px 1px #000000;
		-moz-box-shadow:    inset 1px 1px 1px #000000;
		box-shadow:         inset 1px 1px 1px #000000;
	}
	&__size-reserver {
		position:relative;
		padding: 10px 20px;
		opacity: 0;
	}
	&.linky--pressed {
		opacity:0.7;
		.linky__depression {
			top: 2px;
			left:3px;
		}
	}
}
.nav {
    padding: 3px 60px;
	text-align:center;
	-webkit-box-shadow: 0px 6px 11px 0px rgba(0, 0, 0, 0.45);
	-moz-box-shadow:    0px 6px 11px 0px rgba(0, 0, 0, 0.45);
	box-shadow:         0px 6px 11px 0px rgba(0, 0, 0, 0.45);
}
